.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.register-container h1 {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 400;
}

.register-container h2 {
    font-size: 32px;
    margin: 0 0 20px;
    font-weight: bold;
}

.register-form {
    width: 100%;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.account-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.account-type label {
    display: flex;
    align-items: center;
}

.register-form .terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.register-form .terms input {
    margin-right: 10px;
}

.register-form .terms a {
    color: blue;
    text-decoration: underline;
}

.register-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.register-form p {
    text-align: center;
    margin-top: 20px;
}

.register-form p a {
    color: purple;
    text-decoration: underline;
}

.date-label {
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 10px;
    margin-bottom: 20px !important;
    align-items: center;
}

.date-input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b2b2b2;
}

.input-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group-inline input {
    flex: 1;
    margin-right: 10px;
  }
  
  .input-group-inline button {
    flex-shrink: 0;
  }

  
  .input-group-inline button{
    margin-top: 0px !important;
  }

  .verified {
    border: 2px solid green !important;
  }

  .select-country-code{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }