.photo-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
  }
  
  .photo-icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #c5b3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .photo-icon img {
    width: 60px;
    height: 60px;
  }
  
  .add-photo-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-photo-button:hover {
    background-color: #45a049;
  }

  .description-freelancer{
    width: 100%;
  }